<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>VidyaDB REST interface</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
        <script src="games.js"></script>
    </head>
    <body ng-app="games" ng-controller="games">
        
        <form id="addgame" ng-submit="submit()">         
            <input id="title" type="text" ng-model="title"/>

            <select id="genre" form="addgame" ng-model="genre" ng-options="g as g for g in genres"></select>

            <input id="releaseDate" type="date" placeholder="yyyy-MM-dd" ng-model="releaseDate"/>

            <select id="publisher" form="addgame" ng-model="publisher" ng-options="p as p.name for p in publishers"></select>

            <input type="submit" value="Add game"/>
        </form>

        <hr>

        <table id="games">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Genre</th>
                    <th>Release date</th>
                    <th>Publisher name</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="game in games">
                    <td>{{ game.title }}</td>
                    <td>{{ game.genre }}</td>
                    <td>{{ game.releaseDate | date }}</td>
                    <td>{{ game.publisher.name }}</td>
                </tr>
            </tbody>
        </table>

    </body>
</html>
